:root {
    /* Primary */
    --thunderBlue: #011749;
    --lightThunderBlue: #011749;

    /* Secondary */
    --thunderYellow: #FCE702;
    --lightThunderYellow: #FCE702;

    /* Appendant */
    --controllButton01: #008000;
    --controllButton02: #FF0000;
    --thunderBlack: #000000;

    /* Allert */
    --thunderAllert: #E10000;

    /* Error */
    --thunderError: #AB1212;

    /* Success */
    --thunderSuccess: #047FF0;

    /* Gray shade */
    --gray1: #333333;
    --gray2: #4F4F4F;
    --gray3: #828282;
    --gray4: #BDBDBD;
    --gray5: #E0E0E0;
    --gray6: #F2F2F2;
}

H1 {
    font-family: "Oswald";
    font-size: 64px;
    color: var(--thunderBlack);
}

H2 {
    font-family: "Oswald";
    font-size: 48px;
    color: var(--thunderBlack);
}

H3 {
    font-family: "Oswald";
    font-size: 36px;
    color: var(--thunderBlack);
}

H4 {
    font-family: "Oswald";
    font-size: 24px;
    color: var(--thunderBlack);
}

body {
    font-family: "Montserrat";
    font-size: 18px;
    color: var(--thunderBlack);
}

bodySecondary {
    font-family: "Montserrat";
    font-size: 18px;
    color: var(--gray1);
}

input {
    font-family: "Montserrat";
    font-size: 18px;
    color: var(--gray3);
}


